body{
    font-family: 'Courier New', Courier, monospace;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 45%, rgba(36,35,35,1) 100%);
    outline: 7px double #000000;
    outline-offset: 10px;
}

.button{
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 15px;
    background: #ababab;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.ibox{
    padding: 5px;
    font-size: 16px;
    border-width: 1px;
    border-color: #000000;
    background-color: #FFFFFF;
    color: #000000;
    border-style: outset;
    border-radius: 5px;
}

.nav{
    color: magenta;
}
